<head>
    <script type="text/javascript" src="js/vendor/phaser.js"></script>
    <!-- TODO have gulp figure out to include minified or pretty dependencies here -->

    <script type="text/javascript" src="js/preload.js"></script>
    <script type="text/javascript" src="js/states/init.js"></script>
    <script type="text/javascript" src="js/phaser-start.js"></script>
    <title>The title of your game, displays in browser window</title>
</head>

<body style="background-color:#333 !important; margin:0; padding:0">
</body>
